.container {
  display: flex;
}

.container .main {
  width: 100%
}

.container .other {
  width: 100%
}

.columns {
  display: flex;
}

.column {
  margin: 10px;
}

.cards {
  padding: 0;
}

.card {
  list-style-type: none;
  margin: 4px;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  text-align: center;
}

.array-observer {
  float: right;
}
