<h2 id="title">Welcome to HuBoard Sandbox</h2>

<div class="container">
  <div class="main">
    {{outlet}}
  </div>
  
  <div class="sim">
    {{hb-simulator}}
  </div>

  <div class="other">
    {{hb-array-observer}}
  </div>
</div>
