<h3> The Board: </h3>

<div class="columns">
  {{#each model.columns as |column|}}
    {{hb-column 
      column=column
      columns=columns
      registerColumn="registerColumn"
    }}
  {{/each}}
</div>
